In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already satisfied: sklearn in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.19.2)
Requirement already satisfied: joblib>=0.11 in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.5.2)

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (1.0.1)

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [5]:
incident_df = pd.read_csv("../incident_data/yearly_incident_data/all_incidents.csv",encoding='utf8',low_memory=False)
# Drop the null columns where all values are null
incident_df = incident_df.dropna(axis='columns', how='all')
# Drop the null rows
incident_df = incident_df.dropna()
incident_df.head()

,publicAddress,caseNumber,precinct,offense,description,ucrCode,lat,lon,neighborhood,incidentDate,incidentTime
0,0056Xx Lyndale Av S,MP2010000051,5,CSCR,Crim Sex Cond-Rape,3.0,44.900291,-93.288239,Windom,2010/01/01,00:30
1,0001Xx 62 St W,MP2010000099,5,ROBPAG,Robbery Per Agg,4.0,44.890636,-93.280041,Windom,2010/01/01,01:05
2,0039Xx 5 Av S,MP2010000373,3,BURGD,Burglary Of Dwelling,6.0,44.931448,-93.268841,Bryant,2010/01/01,04:18
3,0013Xx Nicollet Av S,MP2010000305,1,ASLT2,Asslt W/Dngrs Weapon,5.0,44.970506,-93.277714,Loring Park,2010/01/01,03:00
4,0034Xx Oliver Av N,MP2010000229,4,BURGD,Burglary Of Dwelling,6.0,45.017746,-93.306988,Folwell,2010/01/01,02:23

In [7]:
# Set features. This will also be used as your x values.
#selected_features = df.drop("koi_disposition", axis=1)

incident_df['incidentDate'] = pd.to_datetime(incident_df['incidentDate'], format='%Y/%m/%d')
incident_df['month']= incident_df['incidentDate'].dt.month 
incident_df['weekday'] =  incident_df['incidentDate'].dt.dayofweek
incident_df['day'] =  incident_df['incidentDate'].dt.day

incident_df.head()

,publicAddress,caseNumber,precinct,offense,description,ucrCode,lat,lon,neighborhood,incidentDate,incidentTime,month,weekday,day
0,0056Xx Lyndale Av S,MP2010000051,5,CSCR,Crim Sex Cond-Rape,3.0,44.900291,-93.288239,Windom,2010-01-01,00:30,1,4,1
1,0001Xx 62 St W,MP2010000099,5,ROBPAG,Robbery Per Agg,4.0,44.890636,-93.280041,Windom,2010-01-01,01:05,1,4,1
2,0039Xx 5 Av S,MP2010000373,3,BURGD,Burglary Of Dwelling,6.0,44.931448,-93.268841,Bryant,2010-01-01,04:18,1,4,1
3,0013Xx Nicollet Av S,MP2010000305,1,ASLT2,Asslt W/Dngrs Weapon,5.0,44.970506,-93.277714,Loring Park,2010-01-01,03:00,1,4,1
4,0034Xx Oliver Av N,MP2010000229,4,BURGD,Burglary Of Dwelling,6.0,45.017746,-93.306988,Folwell,2010-01-01,02:23,1,4,1

In [8]:
# Get one hot encoding of columns 'vehicleType'
one_hot = pd.get_dummies(incident_df['neighborhood'])
# Drop column as it is now encoded
incident_df = incident_df.drop('neighborhood',axis = 1)
# Join the encoded df
incident_df = incident_df.join(one_hot)
incident_df

,publicAddress,caseNumber,precinct,offense,description,ucrCode,lat,lon,incidentDate,incidentTime,...,Ventura Village,Victory,Waite Park,Webber - Camden,Wenonah,West Calhoun,Whittier,Willard - Hay,Windom,Windom Park
0,0056Xx Lyndale Av S,MP2010000051,5,CSCR,Crim Sex Cond-Rape,3.0,44.900291,-93.288239,2010-01-01,00:30,...,0,0,0,0,0,0,0,0,1,0
1,0001Xx 62 St W,MP2010000099,5,ROBPAG,Robbery Per Agg,4.0,44.890636,-93.280041,2010-01-01,01:05,...,0,0,0,0,0,0,0,0,1,0
2,0039Xx 5 Av S,MP2010000373,3,BURGD,Burglary Of Dwelling,6.0,44.931448,-93.268841,2010-01-01,04:18,...,0,0,0,0,0,0,0,0,0,0
3,0013Xx Nicollet Av S,MP2010000305,1,ASLT2,Asslt W/Dngrs Weapon,5.0,44.970506,-93.277714,2010-01-01,03:00,...,0,0,0,0,0,0,0,0,0,0
4,0034Xx Oliver Av N,MP2010000229,4,BURGD,Burglary Of Dwelling,6.0,45.017746,-93.306988,2010-01-01,02:23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235545,00008X 8Th St S,MP2020708915,1,SHOPLF,Shoplifting,7.0,44.975633,-93.272376,2020-12-24,14:45,...,0,0,0,0,0,0,0,0,0,0
235546,00008X 8Th St S,MP2020708916,1,SHOPLF,Shoplifting,7.0,44.975633,-93.272376,2020-12-24,15:45,...,0,0,0,0,0,0,0,0,0,0
235547,0006Xx Washington Ave Se,MP2020708917,2,BIKETF,Bike Theft,7.0,44.973658,-93.229494,2020-12-22,11:00,...,0,0,0,0,0,0,0,0,0,0
235548,0025Xx 36Th Ave N,MP2020321240,4,THFTSW,Theft By Swindle,7.0,45.020468,-93.312715,2020-12-27,17:00,...,0,0,0,0,0,0,0,0,0,0
235549,0010Xx Lowry Ave Ne,MP2020315874,2,ROBPER,Robbery Of Person,4.0,45.013167,-93.244669,2020-12-21,13:05,...,0,0,0,0,0,0,0,0,0,0

In [9]:
selected_features = incident_df.drop(["description","caseNumber","offense","ucrCode",
                                      "publicAddress","incidentDate","incidentTime"],axis=1)

selected_features.head(25)

,precinct,lat,lon,month,weekday,day,Armatage,Audubon Park,Bancroft,Beltrami,...,Ventura Village,Victory,Waite Park,Webber - Camden,Wenonah,West Calhoun,Whittier,Willard - Hay,Windom,Windom Park
0,5,44.900291,-93.288239,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,5,44.890636,-93.280041,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,44.931448,-93.268841,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,44.970506,-93.277714,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,45.017746,-93.306988,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,3,44.938647,-93.274069,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,3,44.950635,-93.262651,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,5,44.949510,-93.314613,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,44.976420,-93.272680,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,44.948351,-93.269666,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,3,44.949214,-93.271576,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,44.976420,-93.272680,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,3,44.945826,-93.267731,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1,44.978392,-93.274222,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,3,44.948376,-93.232385,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,4,45.005970,-93.298070,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,3,44.925999,-93.234667,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,4,45.051125,-93.290892,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,44.978392,-93.274222,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,4,45.034405,-93.302162,1,4,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
20,2,44.992885,-93.217701,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,4,44.999138,-93.288756,1,5,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,4,44.986990,-93.307013,1,5,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,3,44.948365,-93.254413,1,5,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,3,44.948369,-93.225007,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
X = selected_features
y = incident_df["ucrCode"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y, train_size=0.65,test_size=0.35)
X_train.head()

,precinct,lat,lon,month,weekday,day,Armatage,Audubon Park,Bancroft,Beltrami,...,Ventura Village,Victory,Waite Park,Webber - Camden,Wenonah,West Calhoun,Whittier,Willard - Hay,Windom,Windom Park
95270,5,44.916848,-93.293413,6,2,25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98269,3,44.911683,-93.230967,8,6,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53431,3,44.922509,-93.207640,7,4,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179553,2,44.966816,-93.224299,6,5,30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
169549,3,44.947458,-93.253773,2,0,26,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
rf = RandomForestClassifier(n_estimators=500)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.5354722721615267

In [14]:
predictions = rf.predict(X_test_scaled)
print(predictions)

[6. 7. 7. ... 7. 7. 7.]

In [15]:
print(f"Training Data Score: {rf.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {rf.score(X_test_scaled, y_test)}")

Training Data Score: 0.9922690531959545
Testing Data Score: 0.5354722721615267

In [16]:
importances = rf.feature_importances_
importances

array([1.49376345e-02, 2.11407477e-01, 2.16769091e-01, 1.64704659e-01,
       1.06899450e-01, 2.45683739e-01, 1.24117976e-04, 2.43022456e-04,
       2.65440019e-04, 1.53716112e-04, 1.77992573e-04, 3.02584548e-04,
       2.64625551e-04, 1.29459973e-04, 3.72766706e-04, 2.27419334e-04,
       3.44436078e-04, 8.03947442e-04, 2.66755388e-04, 1.30392177e-04,
       4.37531842e-04, 2.58891254e-04, 3.31684642e-04, 1.95298919e-04,
       3.76738588e-04, 6.41744138e-03, 2.87795231e-04, 4.15006960e-04,
       7.41309118e-04, 3.94862027e-04, 3.99782773e-04, 3.43030709e-04,
       1.76925532e-04, 1.23251601e-03, 1.36521597e-04, 1.38874615e-04,
       3.86152950e-04, 1.04693220e-03, 4.90049636e-04, 2.58498225e-04,
       2.57808200e-04, 6.89145686e-05, 1.07374705e-03, 2.51051817e-04,
       1.50693479e-04, 1.17859106e-04, 3.60872081e-04, 3.95233637e-04,
       1.55096956e-04, 1.94975135e-04, 1.72974090e-03, 3.85397108e-04,
       2.47591142e-04, 7.74285266e-04, 4.45714950e-04, 2.23469230e-04,
       4.51450343e-04, 1.36862118e-04, 7.51481096e-04, 1.89581802e-04,
       4.29846925e-04, 1.78959206e-04, 1.81113050e-04, 7.54208547e-04,
       5.08643491e-04, 4.72659362e-04, 1.10569329e-03, 2.77787614e-04,
       1.13298714e-04, 3.25792266e-04, 6.00035640e-04, 3.19734328e-04,
       2.31239705e-04, 4.00422077e-04, 1.98249749e-04, 1.98395684e-04,
       1.64562103e-04, 1.53347234e-04, 5.00258732e-04, 1.67144948e-04,
       2.31154618e-04, 1.96478707e-04, 1.88787668e-04, 3.22866727e-04,
       8.17655161e-04, 2.90074126e-04, 2.06392421e-04, 4.89161639e-04,
       3.25809238e-04, 1.81896197e-04, 5.59437101e-04, 1.36993724e-03,
       2.41173856e-04, 2.61385265e-04])

In [17]:
feature_names = selected_features.columns

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.2456837389875522, 'day'),
 (0.21676909133413447, 'lon'),
 (0.2114074770826983, 'lat'),
 (0.16470465877182414, 'month'),
 (0.10689945015801589, 'weekday'),
 (0.014937634497474357, 'precinct'),
 (0.006417441376089715, 'Downtown West'),
 (0.0017297409030308448, 'Longfellow'),
 (0.0013699372440870677, 'Willard - Hay'),
 (0.0012325160114588563, 'Folwell'),
 (0.0011056932901280195, 'Northeast Park'),
 (0.0010737470519210307, 'Jordan'),
 (0.0010469322048756008, 'Hawthorne'),
 (0.0008176551613084473, 'Ventura Village'),
 (0.0008039474424305558, 'Central'),
 (0.0007742852655707239, 'Lowry Hill East'),
 (0.0007542085472182702, 'Near - North'),
 (0.0007514810956550237, 'Mckinley'),
 (0.0007413091184617163, 'East Phillips'),
 (0.000600035639852339, 'Powderhorn Park'),
 (0.0005594371008109567, 'Whittier'),
 (0.0005086434913316546, 'Nicollet Island - East Bank'),
 (0.0005002587318515844, 'Standish'),
 (0.0004900496356300798, 'Hiawatha'),
 (0.0004891616394185005, 'Webber - Camden'),
 (0.0004726593615033927, 'North Loop'),
 (0.00045145034284414435, 'Marcy Holmes'),
 (0.0004457149497212052, 'Lyndale'),
 (0.0004375318418927496, 'Como'),
 (0.0004298469245582965, 'Midtown Phillips'),
 (0.00041500696028772883, 'East Isles'),
 (0.0004004220768807036, 'Seward'),
 (0.000399782772724279, 'Elliot Park'),
 (0.00039523363705637433, 'Lind - Bohanon'),
 (0.00039486202713964557, 'Ecco'),
 (0.00038615294999377626, 'Harrison'),
 (0.00038539710783776123, 'Loring Park'),
 (0.00037673858781577007, 'Downtown East'),
 (0.00037276670594730464, 'Carag'),
 (0.00036087208050759146, 'King Field'),
 (0.0003444360775911305, 'Cedar Riverside'),
 (0.0003430307091699116, 'Ericsson'),
 (0.0003316846422737834, 'Corcoran'),
 (0.00032580923814507835, 'Wenonah'),
 (0.00032579226592400703, 'Phillips West'),
 (0.0003228667271198046, 'University Of Minnesota'),
 (0.0003197343275938208, 'Prospect Park - East River Road'),
 (0.0003025845483111879, 'Bryant'),
 (0.00029007412579771987, 'Victory'),
 (0.00028779523147676053, 'East Harriet'),
 (0.0002777876137978679, 'Northrop'),
 (0.0002667553879728192, 'Cleveland'),
 (0.00026544001949279375, 'Bancroft'),
 (0.00026462555054521423, 'Bryn - Mawr'),
 (0.0002613852652290596, 'Windom Park'),
 (0.0002588912542907096, 'Cooper'),
 (0.000258498225004487, 'Holland'),
 (0.00025780819977498415, 'Howe'),
 (0.00025105181740328885, 'Keewaydin'),
 (0.0002475911424791915, 'Lowry Hill'),
 (0.00024302245624806132, 'Audubon Park'),
 (0.00024117385616433291, 'Windom'),
 (0.0002312397052068433, 'Regina'),
 (0.00023115461847778075, 'Stevens Square - Loring Heights'),
 (0.00022741933370014236, 'Cedar - Isles - Dean'),
 (0.00022346923045910526, 'Lynnhurst'),
 (0.0002063924210190716, 'Waite Park'),
 (0.00019839568364961516, 'Shingle Creek'),
 (0.00019824974910800821, 'Sheridan'),
 (0.00019647870704445322, 'Sumner - Glenwood'),
 (0.00019529891869423313, 'Diamond Lake'),
 (0.0001949751354628916, 'Logan Park'),
 (0.00018958180222747266, 'Mid - City Industrial'),
 (0.0001887876683353764, 'Tangletown'),
 (0.00018189619749483114, 'West Calhoun'),
 (0.00018111304996194222, 'Morris Park'),
 (0.00017895920617048896, 'Minnehaha'),
 (0.00017799257281026482, 'Bottineau'),
 (0.0001769255316093978, 'Field'),
 (0.0001671449483706882, "Steven'S Square - Loring Heights"),
 (0.0001645621031959472, 'St. Anthony East'),
 (0.00015509695562944815, 'Linden Hills'),
 (0.00015371611209263612, 'Beltrami'),
 (0.0001533472335603683, 'St. Anthony West'),
 (0.00015069347927195876, 'Kenny'),
 (0.00013887461521309915, 'Hale'),
 (0.00013686211776811884, 'Marshall Terrace'),
 (0.00013652159704591286, 'Fulton'),
 (0.00013039217718562986, 'Columbia Park'),
 (0.00012945997318344923, 'Camden Industrial'),
 (0.00012411797642599743, 'Armatage'),
 (0.00011785910563659199, 'Kenwood'),
 (0.00011329871407945789, 'Page'),
 (6.891456856167242e-05, 'Humboldt Industrial Area')]

In [18]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {'n_estimators': [750, 1000, 1250],
              'max_depth': [1, 10, 50],
              'criterion': ['gini', 'entropy']}
grid = GridSearchCV(rf, param_grid, verbose=3)

In [ ]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits
[CV] criterion=gini, max_depth=1, n_estimators=750 ...................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  criterion=gini, max_depth=1, n_estimators=750, score=0.549, total=  20.8s
[CV] criterion=gini, max_depth=1, n_estimators=750 ...................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   20.7s remaining:    0.0s

[CV]  criterion=gini, max_depth=1, n_estimators=750, score=0.549, total=  21.2s
[CV] criterion=gini, max_depth=1, n_estimators=750 ...................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:   41.9s remaining:    0.0s

[CV]  criterion=gini, max_depth=1, n_estimators=750, score=0.549, total=  21.5s
[CV] criterion=gini, max_depth=1, n_estimators=750 ...................
[CV]  criterion=gini, max_depth=1, n_estimators=750, score=0.549, total=  20.8s
[CV] criterion=gini, max_depth=1, n_estimators=750 ...................
[CV]  criterion=gini, max_depth=1, n_estimators=750, score=0.549, total=  20.9s
[CV] criterion=gini, max_depth=1, n_estimators=1000 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1000, score=0.549, total=  27.7s
[CV] criterion=gini, max_depth=1, n_estimators=1000 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1000, score=0.549, total=  27.5s
[CV] criterion=gini, max_depth=1, n_estimators=1000 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1000, score=0.549, total=  27.5s
[CV] criterion=gini, max_depth=1, n_estimators=1000 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1000, score=0.549, total=  27.5s
[CV] criterion=gini, max_depth=1, n_estimators=1000 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1000, score=0.549, total=  28.6s
[CV] criterion=gini, max_depth=1, n_estimators=1250 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1250, score=0.549, total=  35.5s
[CV] criterion=gini, max_depth=1, n_estimators=1250 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1250, score=0.549, total=  34.4s
[CV] criterion=gini, max_depth=1, n_estimators=1250 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1250, score=0.549, total=  35.0s
[CV] criterion=gini, max_depth=1, n_estimators=1250 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1250, score=0.549, total=  36.1s
[CV] criterion=gini, max_depth=1, n_estimators=1250 ..................
[CV]  criterion=gini, max_depth=1, n_estimators=1250, score=0.549, total=  35.2s
[CV] criterion=gini, max_depth=10, n_estimators=750 ..................
[CV]  criterion=gini, max_depth=10, n_estimators=750, score=0.549, total= 1.6min
[CV] criterion=gini, max_depth=10, n_estimators=750 ..................
[CV]  criterion=gini, max_depth=10, n_estimators=750, score=0.549, total= 1.5min
[CV] criterion=gini, max_depth=10, n_estimators=750 ..................
[CV]  criterion=gini, max_depth=10, n_estimators=750, score=0.550, total= 1.6min
[CV] criterion=gini, max_depth=10, n_estimators=750 ..................
[CV]  criterion=gini, max_depth=10, n_estimators=750, score=0.549, total= 1.5min
[CV] criterion=gini, max_depth=10, n_estimators=750 ..................
[CV]  criterion=gini, max_depth=10, n_estimators=750, score=0.550, total= 1.5min
[CV] criterion=gini, max_depth=10, n_estimators=1000 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1000, score=0.550, total= 2.1min
[CV] criterion=gini, max_depth=10, n_estimators=1000 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1000, score=0.549, total= 2.1min
[CV] criterion=gini, max_depth=10, n_estimators=1000 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1000, score=0.549, total= 2.2min
[CV] criterion=gini, max_depth=10, n_estimators=1000 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1000, score=0.550, total= 2.2min
[CV] criterion=gini, max_depth=10, n_estimators=1000 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1000, score=0.549, total= 2.1min
[CV] criterion=gini, max_depth=10, n_estimators=1250 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1250, score=0.550, total= 2.7min
[CV] criterion=gini, max_depth=10, n_estimators=1250 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1250, score=0.549, total= 2.9min
[CV] criterion=gini, max_depth=10, n_estimators=1250 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1250, score=0.550, total= 3.0min
[CV] criterion=gini, max_depth=10, n_estimators=1250 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1250, score=0.549, total= 2.6min
[CV] criterion=gini, max_depth=10, n_estimators=1250 .................
[CV]  criterion=gini, max_depth=10, n_estimators=1250, score=0.550, total= 2.6min
[CV] criterion=gini, max_depth=50, n_estimators=750 ..................
[CV]  criterion=gini, max_depth=50, n_estimators=750, score=0.531, total= 3.5min
[CV] criterion=gini, max_depth=50, n_estimators=750 ..................
[CV]  criterion=gini, max_depth=50, n_estimators=750, score=0.537, total= 3.5min
[CV] criterion=gini, max_depth=50, n_estimators=750 ..................

In [ ]:
print(grid.best_params_)
print(grid.best_score_)

In [ ]:
import joblib
filename = 'RandomForest.sav'
joblib.dump(rf, filename)