In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already satisfied: sklearn in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.19.2)
Requirement already satisfied: joblib>=0.11 in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.5.2)

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\drewb\.conda\envs\pythonadv\lib\site-packages (1.0.1)

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [4]:
incident_df = pd.read_csv("incident_data/yearly_incident_data/all_incidents.csv",encoding='utf8',low_memory=False)
# Drop the null columns where all values are null
incident_df = incident_df.dropna(axis='columns', how='all')
# Drop the null rows
incident_df = incident_df.dropna()
incident_df.head()

,publicAddress,caseNumber,precinct,offense,description,ucrCode,lat,lon,neighborhood,incidentDate,incidentTime
0,0056Xx Lyndale Av S,MP2010000051,5,CSCR,Crim Sex Cond-Rape,3.0,44.900291,-93.288239,Windom,2010/01/01,00:30
1,0001Xx 62 St W,MP2010000099,5,ROBPAG,Robbery Per Agg,4.0,44.890636,-93.280041,Windom,2010/01/01,01:05
2,0039Xx 5 Av S,MP2010000373,3,BURGD,Burglary Of Dwelling,6.0,44.931448,-93.268841,Bryant,2010/01/01,04:18
3,0013Xx Nicollet Av S,MP2010000305,1,ASLT2,Asslt W/Dngrs Weapon,5.0,44.970506,-93.277714,Loring Park,2010/01/01,03:00
4,0034Xx Oliver Av N,MP2010000229,4,BURGD,Burglary Of Dwelling,6.0,45.017746,-93.306988,Folwell,2010/01/01,02:23

In [6]:
# Set features. This will also be used as your x values.
#selected_features = df.drop("koi_disposition", axis=1)

incident_df['incidentDate'] = pd.to_datetime(incident_df['incidentDate'], format='%Y/%m/%d')
incident_df['month']= incident_df['incidentDate'].dt.month 
incident_df['weekday'] =  incident_df['incidentDate'].dt.dayofweek
incident_df['day'] =  incident_df['incidentDate'].dt.day

,Armatage,Audubon Park,Bancroft,Beltrami,Bottineau,Bryant,Bryn - Mawr,Camden Industrial,Carag,Cedar - Isles - Dean,...,Ventura Village,Victory,Waite Park,Webber - Camden,Wenonah,West Calhoun,Whittier,Willard - Hay,Windom,Windom Park
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235545,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235546,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235547,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235548,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235549,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Get one hot encoding of columns 'vehicleType'
one_hot = pd.get_dummies(incident_df['neighborhood'])
# Drop column as it is now encoded
incident_df = incident_df.drop('neighborhood',axis = 1)
# Join the encoded df
incident_df = incident_df.join(one_hot)
incident_df

,publicAddress,caseNumber,precinct,offense,description,ucrCode,lat,lon,incidentDate,incidentTime,...,Ventura Village,Victory,Waite Park,Webber - Camden,Wenonah,West Calhoun,Whittier,Willard - Hay,Windom,Windom Park
0,0056Xx Lyndale Av S,MP2010000051,5,CSCR,Crim Sex Cond-Rape,3.0,44.900291,-93.288239,2010-01-01,00:30,...,0,0,0,0,0,0,0,0,1,0
1,0001Xx 62 St W,MP2010000099,5,ROBPAG,Robbery Per Agg,4.0,44.890636,-93.280041,2010-01-01,01:05,...,0,0,0,0,0,0,0,0,1,0
2,0039Xx 5 Av S,MP2010000373,3,BURGD,Burglary Of Dwelling,6.0,44.931448,-93.268841,2010-01-01,04:18,...,0,0,0,0,0,0,0,0,0,0
3,0013Xx Nicollet Av S,MP2010000305,1,ASLT2,Asslt W/Dngrs Weapon,5.0,44.970506,-93.277714,2010-01-01,03:00,...,0,0,0,0,0,0,0,0,0,0
4,0034Xx Oliver Av N,MP2010000229,4,BURGD,Burglary Of Dwelling,6.0,45.017746,-93.306988,2010-01-01,02:23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235545,00008X 8Th St S,MP2020708915,1,SHOPLF,Shoplifting,7.0,44.975633,-93.272376,2020-12-24,14:45,...,0,0,0,0,0,0,0,0,0,0
235546,00008X 8Th St S,MP2020708916,1,SHOPLF,Shoplifting,7.0,44.975633,-93.272376,2020-12-24,15:45,...,0,0,0,0,0,0,0,0,0,0
235547,0006Xx Washington Ave Se,MP2020708917,2,BIKETF,Bike Theft,7.0,44.973658,-93.229494,2020-12-22,11:00,...,0,0,0,0,0,0,0,0,0,0
235548,0025Xx 36Th Ave N,MP2020321240,4,THFTSW,Theft By Swindle,7.0,45.020468,-93.312715,2020-12-27,17:00,...,0,0,0,0,0,0,0,0,0,0
235549,0010Xx Lowry Ave Ne,MP2020315874,2,ROBPER,Robbery Of Person,4.0,45.013167,-93.244669,2020-12-21,13:05,...,0,0,0,0,0,0,0,0,0,0

In [12]:
selected_features = incident_df.drop(["description","caseNumber","offense","ucrCode",
                                      "publicAddress","incidentDate","incidentTime"],axis=1)

selected_features.head(25)

,precinct,lat,lon,month,weekday,day,Armatage,Audubon Park,Bancroft,Beltrami,...,Ventura Village,Victory,Waite Park,Webber - Camden,Wenonah,West Calhoun,Whittier,Willard - Hay,Windom,Windom Park
0,5,44.900291,-93.288239,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,5,44.890636,-93.280041,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,44.931448,-93.268841,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,44.970506,-93.277714,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,45.017746,-93.306988,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,3,44.938647,-93.274069,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,3,44.950635,-93.262651,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,5,44.949510,-93.314613,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,44.976420,-93.272680,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,44.948351,-93.269666,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,3,44.949214,-93.271576,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,44.976420,-93.272680,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,3,44.945826,-93.267731,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1,44.978392,-93.274222,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,3,44.948376,-93.232385,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,4,45.005970,-93.298070,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,3,44.925999,-93.234667,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,4,45.051125,-93.290892,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,44.978392,-93.274222,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,4,45.034405,-93.302162,1,4,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
20,2,44.992885,-93.217701,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,4,44.999138,-93.288756,1,5,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,4,44.986990,-93.307013,1,5,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,3,44.948365,-93.254413,1,5,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,3,44.948369,-93.225007,1,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
X = selected_features
y = incident_df["ucrCode"]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y, train_size=0.65,test_size=0.35)
X_train.head()

,precinct,lat,lon,month,weekday,day,Armatage,Audubon Park,Bancroft,Beltrami,...,Ventura Village,Victory,Waite Park,Webber - Camden,Wenonah,West Calhoun,Whittier,Willard - Hay,Windom,Windom Park
95270,5,44.916848,-93.293413,6,2,25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98269,3,44.911683,-93.230967,8,6,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53431,3,44.922509,-93.207640,7,4,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179553,2,44.966816,-93.224299,6,5,30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
169549,3,44.947458,-93.253773,2,0,26,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
rf = RandomForestClassifier(n_estimators=500)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.5353716951006399

In [18]:
predictions = rf.predict(X_test_scaled)
print(predictions)

[6. 7. 7. ... 7. 7. 7.]

In [19]:
print(f"Training Data Score: {rf.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {rf.score(X_test_scaled, y_test)}")

Training Data Score: 0.992302901474431
Testing Data Score: 0.5353716951006399

In [20]:
importances = rf.feature_importances_
importances

array([1.52725733e-02, 2.11757151e-01, 2.17275018e-01, 1.64373133e-01,
       1.06226223e-01, 2.45889605e-01, 1.24899798e-04, 2.35236262e-04,
       2.49099127e-04, 1.58615609e-04, 1.70160266e-04, 2.96618828e-04,
       2.65114545e-04, 1.25964426e-04, 3.89721399e-04, 2.08242800e-04,
       3.38594263e-04, 7.95916795e-04, 2.65261021e-04, 1.30470417e-04,
       4.40015968e-04, 2.75362462e-04, 3.35364992e-04, 2.02290058e-04,
       3.90383121e-04, 6.23192479e-03, 2.85095695e-04, 3.99490451e-04,
       7.55509767e-04, 3.95475651e-04, 3.83094883e-04, 3.54200704e-04,
       1.71972201e-04, 1.14210348e-03, 1.34950395e-04, 1.36483593e-04,
       3.88074024e-04, 9.79047376e-04, 4.91665634e-04, 2.56826778e-04,
       2.61280386e-04, 6.91632286e-05, 1.10810141e-03, 2.60393009e-04,
       1.55427826e-04, 1.15019181e-04, 3.70694945e-04, 3.92845503e-04,
       1.55084686e-04, 1.91560613e-04, 1.71630088e-03, 3.69929688e-04,
       2.55952474e-04, 7.76120786e-04, 4.40798695e-04, 2.26679950e-04,
       4.41011774e-04, 1.33154439e-04, 7.13399542e-04, 1.94826899e-04,
       4.36685907e-04, 1.75602973e-04, 1.84836222e-04, 7.47621394e-04,
       4.89443987e-04, 4.58957435e-04, 1.06072888e-03, 2.69877730e-04,
       1.20063854e-04, 3.20032946e-04, 6.04354564e-04, 3.04907635e-04,
       2.37060499e-04, 3.95321104e-04, 1.93198752e-04, 2.01831659e-04,
       1.57462424e-04, 1.45177004e-04, 5.18356791e-04, 1.79032323e-04,
       2.39035022e-04, 1.99542772e-04, 2.05848024e-04, 3.24404082e-04,
       8.12753670e-04, 3.03219189e-04, 1.99374020e-04, 4.85787555e-04,
       3.35030248e-04, 1.79403356e-04, 5.76500076e-04, 1.39764712e-03,
       2.41081963e-04, 2.55122001e-04])

In [21]:
feature_names = selected_features.columns

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.24588960469565468, 'day'),
 (0.21727501819649192, 'lon'),
 (0.21175715117726315, 'lat'),
 (0.1643731334974903, 'month'),
 (0.10622622250357104, 'weekday'),
 (0.015272573258311673, 'precinct'),
 (0.006231924787583482, 'Downtown West'),
 (0.0017163008784274207, 'Longfellow'),
 (0.0013976471173375287, 'Willard - Hay'),
 (0.001142103483881137, 'Folwell'),
 (0.0011081014093957057, 'Jordan'),
 (0.0010607288831889158, 'Northeast Park'),
 (0.0009790473755639504, 'Hawthorne'),
 (0.0008127536701947659, 'Ventura Village'),
 (0.0007959167946681531, 'Central'),
 (0.000776120786052117, 'Lowry Hill East'),
 (0.0007555097665998999, 'East Phillips'),
 (0.0007476213938384912, 'Near - North'),
 (0.0007133995415716171, 'Mckinley'),
 (0.000604354564442762, 'Powderhorn Park'),
 (0.0005765000757814036, 'Whittier'),
 (0.0005183567905695671, 'Standish'),
 (0.0004916656338499381, 'Hiawatha'),
 (0.0004894439873181629, 'Nicollet Island - East Bank'),
 (0.00048578755455935954, 'Webber - Camden'),
 (0.00045895743536804887, 'North Loop'),
 (0.00044101177415518743, 'Marcy Holmes'),
 (0.0004407986946892806, 'Lyndale'),
 (0.0004400159676755592, 'Como'),
 (0.00043668590651332987, 'Midtown Phillips'),
 (0.00039949045079595787, 'East Isles'),
 (0.00039547565130580996, 'Ecco'),
 (0.00039532110377697895, 'Seward'),
 (0.0003928455031079442, 'Lind - Bohanon'),
 (0.0003903831214370426, 'Downtown East'),
 (0.00038972139896295506, 'Carag'),
 (0.0003880740240635475, 'Harrison'),
 (0.0003830948830611391, 'Elliot Park'),
 (0.0003706949445834744, 'King Field'),
 (0.00036992968754277045, 'Loring Park'),
 (0.0003542007038140779, 'Ericsson'),
 (0.0003385942625318458, 'Cedar Riverside'),
 (0.000335364992295305, 'Corcoran'),
 (0.000335030247972455, 'Wenonah'),
 (0.00032440408242799247, 'University Of Minnesota'),
 (0.0003200329462960011, 'Phillips West'),
 (0.00030490763493930045, 'Prospect Park - East River Road'),
 (0.0003032191886848011, 'Victory'),
 (0.0002966188280737901, 'Bryant'),
 (0.0002850956945599726, 'East Harriet'),
 (0.0002753624615881861, 'Cooper'),
 (0.0002698777300248835, 'Northrop'),
 (0.00026526102058084625, 'Cleveland'),
 (0.0002651145450989199, 'Bryn - Mawr'),
 (0.00026128038611836625, 'Howe'),
 (0.00026039300932781265, 'Keewaydin'),
 (0.0002568267783687632, 'Holland'),
 (0.0002559524743717716, 'Lowry Hill'),
 (0.0002551220010973336, 'Windom Park'),
 (0.0002490991271444105, 'Bancroft'),
 (0.00024108196251320456, 'Windom'),
 (0.00023903502232646323, 'Stevens Square - Loring Heights'),
 (0.0002370604986714924, 'Regina'),
 (0.0002352362623239368, 'Audubon Park'),
 (0.00022667995011810588, 'Lynnhurst'),
 (0.00020824280029177702, 'Cedar - Isles - Dean'),
 (0.00020584802447930428, 'Tangletown'),
 (0.00020229005821150608, 'Diamond Lake'),
 (0.00020183165902976254, 'Shingle Creek'),
 (0.0001995427716894908, 'Sumner - Glenwood'),
 (0.00019937402011789332, 'Waite Park'),
 (0.00019482689870606187, 'Mid - City Industrial'),
 (0.00019319875242964775, 'Sheridan'),
 (0.00019156061324877605, 'Logan Park'),
 (0.0001848362218433687, 'Morris Park'),
 (0.00017940335552038176, 'West Calhoun'),
 (0.00017903232255180157, "Steven'S Square - Loring Heights"),
 (0.0001756029728484852, 'Minnehaha'),
 (0.00017197220054643796, 'Field'),
 (0.00017016026557655956, 'Bottineau'),
 (0.0001586156094840934, 'Beltrami'),
 (0.00015746242404419616, 'St. Anthony East'),
 (0.00015542782588749194, 'Kenny'),
 (0.00015508468634488137, 'Linden Hills'),
 (0.00014517700375305578, 'St. Anthony West'),
 (0.00013648359338090028, 'Hale'),
 (0.00013495039489841356, 'Fulton'),
 (0.00013315443944906036, 'Marshall Terrace'),
 (0.00013047041664780056, 'Columbia Park'),
 (0.00012596442627501987, 'Camden Industrial'),
 (0.00012489979764332879, 'Armatage'),
 (0.00012006385361246788, 'Page'),
 (0.00011501918098128195, 'Kenwood'),
 (6.916322859075711e-05, 'Humboldt Industrial Area')]